<div id="map" class="w-11/12 h-96 rounded-xl"></div>

<script>
  function initMap() {
    let map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: { lat: 35.658581, lng: 139.745433 }
    });
  }
</script>

<div type="text/javascript">
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API_KEY'] %>&callback=initMap" async defer></script>
</div>
