<footer class="footer items-center p-4 bg-gray-100 text-neutral-content justify-between pb-5">
  <div class="items-center grid-flow-col">
    <%= image_tag 'logo.png', class: 'rounded-full h-16 w-16 ml-5 mr-2' %>
    <p class="text-gray-900">© 2023 - All right reserved</p>
  </div> 
  <div class="flex">
    <%= link_to t('defaults.privacy_policy'), privacy_policy_path, class: 'mr-5 text-gray-900' %>
    <%= link_to t('defaults.terms'), terms_path, class: 'mr-5 text-gray-900' %>
  </div>
</footer>