<footer class="flex flex-col items-center py-3 md:py-5 bg-gray-100 text-neutral-content">
  <div class="flex items-center">
    <%= link_to t('defaults.terms'), terms_path, class: 'text-xs md:text-sm text-gray-900 hover:text-yellow-500' %>
    <p class="mx-3 md:mx-5">|</p>
    <%= link_to t('defaults.privacy_policy'), privacy_policy_path, class: 'text-xs md:text-sm text-gray-900 hover:text-yellow-500' %>
    <p class="mx-3 md:mx-5">|</p>
    <a href="https://twitter.com/jin_XXX222" target="_blank" rel="noopener noreferrer">
      <%= image_tag 'x_logo.png', class: 'w-4 h-4 md:w-5 md:h-5 ' %>
    </a>
  </div>
  <div class="mt-1 md:mt-3">
    <p class="text-xs md:text-sm text-gray-900">© 2023 服カフェ</p>
  </div>
</footer>