<%= turbo_frame_tag "modal" do %>
  <div id="myModal" class="fixed inset-0 flex items-center justify-center z-50 bg-gray-500 bg-opacity-50" data-controller="modal" data-modal-target="backGround" data-action="click->modal#closeBackground">
    <div class="modal-content bg-white rounded-xl shadow-lg p-10 w-80 md:w-[450px]" data-modal-target="myModal">
      <div class="flex justify-between items-center mb-6">
      <h2 class="text-base md:text-lg font-semibold">リストへ保存</h2>
      <i class="fa-solid fa-xmark h-6 w-6 hover:text-yellow-500" data-action="click->modal#closeModal"></i>    
      </div>
      <% @shop_saved_lists.each do |list| %>
        <div class="flex justify-center mb-5 border-b pb-2 list-button" data-action="click->modal#close" data-list-id="<%= list.id %>">
        <button class="text-xs md:text-base hover:text-yellow-500"><%= list.name %></button>
        </div>
      <% end %>
      <div class="flex justify-center border-b pb-2 hover:text-yellow-500">
        <i class="fa-solid fa-folder-plus md:mt-1 mr-2"></i>
        <%= link_to "リストを作成", new_shop_saved_list_path, data: { turbo_frame: 'modal' }, class: 'text-xs md:text-base text-center' %>
      </div>
    </div>
  </div>
<% end %>